# Folders to ignore
target/
.settings/
bin/

# Java classes to ignore
*.class
.classpath
.project

# hsql-db temporary files/folders
hsql-db.lck
hsql-db.log
hsql-db.properties
hsql-db.script


# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
